Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["heatstore"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/usr/local/share/heatstore/resources/image_detector/frozen_inference_graph.pb" :
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-east-2.amazonaws.com/heatstore/resources/image_detector/frozen_inference_graph.pb
  "/usr/local/share/heatstore/resources/face_detection/shape_predictor_68_face_landmarks.dat" :
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-east-2.amazonaws.com/heatstore/resources/face_detection/shape_predictor_68_face_landmarks.dat
  "/usr/local/share/heatstore/resources/face_detection/frozen_facenet.pb" :
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-east-2.amazonaws.com/heatstore/resources/face_detection/frozen_facenet.pb
  "/usr/local/share/heatstore/resources/face_detection/gender.pkl" :
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-east-2.amazonaws.com/heatstore/resources/face_detection/gender.pkl
